*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* fonts */
.inter-font{
  font-family: "Inter", sans-serif;
}

header{
    width: 100%;
    height: 92px;
}
/* Nav Start */
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}
.nav-logo img{
    width: 140px;
    height: auto;
}
.nav-item ul{
    display: flex;
    gap: 30px;
}

.nav-item ul li{
    list-style: none;
}

.nav-item a{
    text-decoration: none;
    color: black;
}
.btn{
    color: white;
    background-color: #30B868;
    font-size: 16px;
    border: none;
    align-items: center;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.20);
    transition: background-color 0.3s ease;
}
.btn:hover{
    background-color: white;
    color: #30B868;
    border: 1px solid #30B868;
    padding: 11px 15px;
}

/* Nav end */

/* Banner Start */
.banner{
    height: 670px;
    width: 100%;
    background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url(../assets/hero-bg.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-simple{
    color: white;
    font-size: 16px;
    padding: 11px 16px;
    border-radius: 5px;
    border: 1px solid white;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-simple:hover{
    background-color: #30B868;
    color: white;
    border: none;
    padding: 12px 17px;
}

.banner-container{
    margin: 0 auto;
    width: 71%;
    max-width: 1360px;
    text-align: center;
}
.banner-box{
    width: 100%;
    max-width: 1360px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    color: black;
}
.banner-box p{
    color: black;
}
.banner-text{
    width: 250px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    font-size: 16px;
    padding: 8px 16px;
    gap: 5px;
}
.banner-text .circle{
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: #30B868;
}

.circle1 {
  width: 16px;
  height: 16px;
  background: #e6f2ec;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle2 {
  width: 12px;
  height: 12px;
  background: #b9dbc9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle3 {
  width: 8px;
  height: 8px;
  background: #4f9c73;
  border-radius: 50%;
}

.banner-container h2{
    font-size: 72px;
    font-weight: 800;
    color: white;
    margin-bottom: 16px;
}
.banner-container h2 span{
    color: #30B868;
}
.banner-container .b-p{
    color: white;
    margin-bottom: 16px;
}
.banner-btn{
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Banner end */

/* Notes Start */
.notes{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.notes-container{
    width: 80%;
    max-width: 1360px;
    text-align: center;
}

.notes-container .note-header h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
.notes-container .note-header p{
    font-size: 16px;
    margin-bottom: 26px;
}

.note-cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.cards{
    height: 280px;
    width: 320px;
    padding: 42px 16px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.08);
}

.cards img{
    padding: 10px;
    margin-bottom: 16px;
    background-color: #F95555;
    border-radius: 50%;
    
}
.cards h4{
    margin-bottom: 16px;
    font-size: 20px;
}

.cards p{
    font-size: 12px;
    margin-bottom: 16px;
    color: #627382;
}

/* Notes End */
/* Solution Start */

.solution{
    height: 540px;
    width: 71%;
    max-width: 1360px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}

.solution-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.solution-container .solution-image img{
    height: 400px;
    width: 400px;
}
.solution-item .solution-text{
    color: #30B868;
    font-size: 16px;
    margin-bottom: 16px;
}
.solution-item h2{
    font-size: 38px;
    text-transform: capitalize;
    margin-bottom: 16px;
}
.solution-item p{
    font-size: 12px;
    margin-bottom: 16px;
    color: #627382;
}

.solution-item ul li{
    list-style: none;
    font-size: 12px;
    margin-bottom: 10px;
}
.solution-item ul li .solu-icon{
    color: #30B868;
}

/* Solution End */

